NODE_ENV=development
PORT=3001

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/automation?schema=public

TELEGRAM_BOT_TOKEN=8555246300:AAG2zi-Ns0xWbtheQCQrHmrIBuNL1uRqigc
TELEGRAM_CHAT_ID=898239223

CORS_ORIGIN=http://localhost:3000
